.steps {
    .eachStep {
        max-width: 90%;
        min-width: 320px;
        margin: 0 auto;
        margin-bottom: 20px;
        border: .5px solid #d3d3d3;
        border-radius: 10px;
        overflow: hidden;
        .image {
            img {
                width: 100%;
            }
        }
        .info {
            padding: 20px 20px;
            .step {
                color: #d3d3d3;
                font-weight: bold;
                font-size: 20px;
                border-bottom: 1px solid #d3d3d3;
                padding-bottom: 5px;
                margin-bottom: 10px;
            }
            .instruction {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 990px){
    .steps {
        grid-row: 2;
    }
}

@media screen and (max-width: 420px){
    .steps .eachStep .info {
        .step {
            font-size: 18px;
        }
        .instruction {
            font-size: 15px;
        }
    }
}