.category {
    background: #000;
    padding: 20px 0;
    text-align: center;
    ul {
        .foodLink {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 30px;
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: .07em;
            font-family: Futura,sans-serif;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: #fff;
                transition: width .3s;
                margin-top: 5px;
            }
            &:hover::after {
                width: 100%;
                transition: width .3s;
            }
        }
    }
}